body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #c98f8f;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

nav {
    margin: 20px 0;
    text-align: center;
}

nav a {
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    background: #e8491d;
    color: #ffffff;
}

.container table {
    width: 100%;
    border-collapse: collapse;
}
.container table, th, td {
    border: 1px solid #ddd;
}
