body {
    font-family: Arial, sans-serif;
    background-image: url(img/ChatGPT\ Image\ 26\ ago\ 2025\,\ 15_31_30.png);
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Monserrat Bold;
    font-size: 3em;
    text-align: center;
    color: #FFD54F;
    margin-top: 20px;
    margin-bottom: 20px;
}

header {
    padding: 20px 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
}


ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav {
    margin: 20px 0;
    text-align: center;
}

nav a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
}

nav a:hover {
    background: #e8491d;
    color: black;
}

#section {
    padding: 20px;
    margin: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
}

#movies {
    padding: 20px;
    margin: 20px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 8px;
}

#games  {
    padding: 20px;
    margin: 20px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 8px;
}

#contact    {
    padding: 20px;
    margin: 20px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 8px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

h2 {
    color: white;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    color: black;
    text-align: center;
    padding: 10px;
    border: 2px solid #FFD54F;
}

div {
    text-align: center;
    margin: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
footer span {
    font-weight: bold;
}
